INITIAL_MANAGER_EMAIL=
INITIAL_MANAGER_PASSWORD=
JWT_SECRET=
MPESA_CALLBACK_SECRET=
MPESA_CALLBACK_URL=
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_ENV=
MPESA_PASSKEY=
MPESA_SHORTCODE=
SUPABASE_SERVICE_ROLE_KEY=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_URL=
GEMINI_API_KEY=
PORT=3000